@media all and (max-width:768px) {    
    .nav-desc {
        width: 50%;
    }

    .profile-pic {
        width: 50%;
    }
}

@media all and (max-width:320px) {    
    .main {
        display: block;
    }

    .nav-desc {
        width: 100%;
        height: 40%;
    }

    .nav {
        height: 30%;
    }

    .desc {
        height: 70%;
    }

    .profile-pic {
        height: 60%;
        width: 100%;
    }
}